body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: rgb(232, 242, 245);
}

.total {
    display: block;
}

.header {
    background-color: rgb(99, 95, 95);
    width: 100%;
    height: 60px;
    position: fixed; /* Faz o header ficar fixo no topo */
    top: 0;
    left: 0;
    display: flex; /* Alinha os elementos filhos em linha */
}

.esq {
    width: 60%;
    height: 100%;
    display: flex; /* Se você deseja que o conteúdo interno também esteja alinhado */
    align-items: center; /* Centraliza verticalmente o conteúdo */
    
    margin-left: 0%;
}

.dir {
    width: 50%;
    height: 100%;
    display: flex; /* Se você deseja que o conteúdo interno também esteja alinhado */
    align-items: center; /* Centraliza verticalmente o conteúdo */
    justify-content: start; /* Centraliza horizontalmente o conteúdo */
}

.app {
    display: flex;
    height: 100vh;
    width: 100%; 
    padding-top: 60px; /* Espaço suficiente para o header */
    box-sizing: border-box;
    border: 4px solid black;
}

.container {
    display: flex;
    height: calc(100vh - 60px); /* Ajusta a altura para não se sobrepor ao header */
    width: 100%;
}

/* Estilize a tabela */
.tabela {
    /* background-color: lightgray; */
    max-height: 100%; /* Limita a altura total */
    max-width: auto;
    overflow-y: auto; /* Scroll vertical apenas */
    overflow-x: none;
    margin: 1px; /* Margem ao redor das divs */
    padding: 2px;
    box-sizing: border-box;
    border: 1px solid black;
}

/* Estilize o carousel */
.carousel {
    max-height: calc(100vh - 60px); /* Limita a altura total */
    width: auto;
    overflow-y: auto; /* Scroll vertical apenas */
    overflow-x: none;
    margin-right: 0%;
    box-sizing: border-box;
}
