body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: cadetblue;
}

.total {
    display: block;
}

.header {
    background-color: coral;
    width: 100%;
    height: 60px;
    position: fixed; /* Faz o header ficar fixo no topo */
    top: 0;
    left: 0;
    display: flex; /* Alinha os elementos filhos em linha */
}

.esq {
    width: 50%;
    height: 100%;
    display: flex; /* Se você deseja que o conteúdo interno também esteja alinhado */
    align-items: center; /* Centraliza verticalmente o conteúdo */
    justify-content: center; /* Centraliza horizontalmente o conteúdo */
}

.dir {
    width: 50%;
    height: 100%;
    display: flex; /* Se você deseja que o conteúdo interno também esteja alinhado */
    align-items: center; /* Centraliza verticalmente o conteúdo */
    justify-content: start; /* Centraliza horizontalmente o conteúdo */
}

.app {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: beige;
    padding-top: 60px; /* Espaço suficiente para o header */
    box-sizing: border-box;
}

.container {
    display: flex;
    height: calc(100vh - 60px); /* Ajusta a altura para não se sobrepor ao header */
    width: 100%;
    background-color: beige;
}

/* Estilize a tabela */
.tabela {
    background-color: lightgray;
    max-height: 100%; /* Limita a altura total */
    max-width: 40%;
    overflow-y: auto; /* Scroll vertical apenas */
    overflow-x: none;
    margin: 1px; /* Margem ao redor das divs */
    padding: 2px;
    box-sizing: border-box;
}

/* Estilize o carousel */
.carousel {
    background-color: lightcoral;
    max-height: calc(100vh - 60px); /* Limita a altura total */
    width: auto;
    overflow-y: auto; /* Scroll vertical apenas */
    overflow-x: none;
    margin: 1px; /* Margem ao redor das divs */
    padding: 2px;
    box-sizing: border-box;
}
